# form3_public_api
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Form3PublicApi
  # AccountIdentificationController
  class AccountIdentificationController < BaseController
    # List Account Identifications by Account
    # @param [UUID | String] account_id Required parameter: Account Id to which
    # this identification relates to
    # @param [String] page_number Optional parameter: Which page to select
    # @param [Integer] page_size Optional parameter: Number of items to select
    # @param [Array[UUID | String]] filter_organisation_id Optional parameter:
    # Filter by organisation id
    # @param [Array[String]] filter_secondary_identification Optional parameter:
    # Filter to only include account identifications with specified
    # secondary_identification
    # @return [AccountIdentificationListResponse] response from the API call
    def list_account_identifications_by_account(account_id,
                                                page_number: nil,
                                                page_size: nil,
                                                filter_organisation_id: nil,
                                                filter_secondary_identification: nil)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/organisation/accounts/{account_id}/identifications',
                                     Server::DEFAULT)
                   .template_param(new_parameter(account_id, key: 'account_id')
                                    .should_encode(true))
                   .query_param(new_parameter(page_number, key: 'page[number]'))
                   .query_param(new_parameter(page_size, key: 'page[size]'))
                   .query_param(new_parameter(filter_organisation_id, key: 'filter[organisation_id]'))
                   .query_param(new_parameter(filter_secondary_identification, key: 'filter[secondary_identification]'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('OAuth2')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(AccountIdentificationListResponse.method(:from_hash)))
        .execute
    end

    # Create an identification for an existing Account
    # @param [UUID | String] account_id Required parameter: Account Id to which
    # this identification relates to
    # @param [AccountIdentificationRequest]
    # account_identification_creation_request Optional parameter: Example:
    # @return [AccountIdentificationResponse] response from the API call
    def create_an_identification_for_an_existing_account(account_id,
                                                         account_identification_creation_request: nil)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/organisation/accounts/{account_id}/identifications',
                                     Server::DEFAULT)
                   .template_param(new_parameter(account_id, key: 'account_id')
                                    .should_encode(true))
                   .header_param(new_parameter('application/vnd.api+json', key: 'Content-Type'))
                   .body_param(new_parameter(account_identification_creation_request))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('OAuth2')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(AccountIdentificationResponse.method(:from_hash))
                   .local_error('409',
                                'Account Identification creation error, constraint violation of'\
                                 ' secondary identification',
                                ApiErrorException))
        .execute
    end

    # Delete account identification
    # @param [UUID | String] account_id Required parameter: Account Id
    # @param [UUID | String] identification_id Required parameter: Account
    # Identification Id
    # @param [Integer] version Required parameter: Version
    # @return [void] response from the API call
    def delete_account_identification(account_id,
                                      identification_id,
                                      version)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::DELETE,
                                     '/organisation/accounts/{account_id}/identifications/{identification_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(account_id, key: 'account_id')
                                    .should_encode(true))
                   .template_param(new_parameter(identification_id, key: 'identification_id')
                                    .should_encode(true))
                   .query_param(new_parameter(version, key: 'version'))
                   .auth(Single.new('OAuth2')))
        .response(new_response_handler
                   .is_response_void(true)
                   .local_error('404',
                                'Account Identification not found',
                                APIException))
        .execute
    end

    # Get an account identification by id
    # @param [UUID | String] account_id Required parameter: Account Id
    # @param [UUID | String] identification_id Required parameter: Account
    # Identification Id
    # @return [AccountIdentificationResponse] response from the API call
    def get_an_account_identification_by_id(account_id,
                                            identification_id)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/organisation/accounts/{account_id}/identifications/{identification_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(account_id, key: 'account_id')
                                    .should_encode(true))
                   .template_param(new_parameter(identification_id, key: 'identification_id')
                                    .should_encode(true))
                   .header_param(new_parameter('application/vnd.api+json', key: 'Content-Type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('OAuth2')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(AccountIdentificationResponse.method(:from_hash)))
        .execute
    end

    # Amend Account Identification
    # @param [UUID | String] account_id Required parameter: Account Id
    # @param [UUID | String] identification_id Required parameter: Account
    # Identification Id; Must match id in the payload
    # @param [AccountIdentificationRequest] account_identification_amend_request
    # Optional parameter: Example:
    # @return [AccountIdentificationResponse] response from the API call
    def amend_account_identification(account_id,
                                     identification_id,
                                     account_identification_amend_request: nil)
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::PATCH,
                                     '/organisation/accounts/{account_id}/identifications/{identification_id}',
                                     Server::DEFAULT)
                   .template_param(new_parameter(account_id, key: 'account_id')
                                    .should_encode(true))
                   .template_param(new_parameter(identification_id, key: 'identification_id')
                                    .should_encode(true))
                   .header_param(new_parameter('application/vnd.api+json', key: 'Content-Type'))
                   .body_param(new_parameter(account_identification_amend_request))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('OAuth2')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(AccountIdentificationResponse.method(:from_hash))
                   .local_error('409',
                                'Account Identification update error, constraint violation of'\
                                 ' secondary identification',
                                ApiErrorException))
        .execute
    end
  end
end
