# form3_public_api
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Form3PublicApi
  # Oauth2Controller
  class Oauth2Controller < BaseController
    # Request Access Token
    # @return [Token] response from the API call
    def request_access_token
      new_api_call_builder
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/oauth2/token',
                                     Server::DEFAULT)
                   .form_param(new_parameter('client_credentials', key: 'grant_type'))
                   .header_param(new_parameter('application/x-www-form-urlencoded', key: 'content-type'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('Basic')))
        .response(new_response_handler
                   .deserializer(APIHelper.method(:custom_type_deserializer))
                   .deserialize_into(Token.method(:from_hash))
                   .local_error('403',
                                'Authentication failed',
                                APIException))
        .execute
    end
  end
end
